version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:cached
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: catabris
      MYSQL_USER: catabris
      MYSQL_PASSWORD: changeme
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
